<div class="mt-3 alert alert-warning text-center">
  <span>404! This page is not exist.</span>
  <div class="mt-4">
    <button class="btn btn-success" routerLink="/">
      Home page
      <fa-icon [icon]="['fas', 'home']"></fa-icon>
    </button>
  </div>
</div>
