<div>
  <div class="main-container">
    <div *ngIf="seasons.hasError">
      <div class="mt-3 alert alert-danger text-center">
        <span>{{seasons.errorMessage}}</span>
        <button class="btn btn-refresh" (click)="getSeasons()">
          Try again
          <fa-icon [icon]="['fas', 'sync']"></fa-icon>
        </button>
      </div>
    </div>
    <div *ngFor="let season of seasons.data" class="season-container">
      <div class="season-header-container">
        <span [id]="'season_' + season.season">{{season.season}}</span>
      </div>
      <div class="animated-container">
        <button class="btn mr-2"
                [id]="'btn_show_winner_' + season.season"
                [routerLink]="['../winners' , season.season]"
                [routerLinkActive]="'active'">
          winners
          <fa-icon [icon]="['fas', 'flag-checkered']"></fa-icon>
        </button>
        <button class="btn" (click)="navigateOut(season)">
          Wikipedia
          <fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
