$btn-color: #759d01;

.season-container {
  height: 20vh;
  display: inline-block;
  width: 18%;
  margin: 2vh 1%;
  background-color: rgba(255, 255, 255, .8);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.season-container:hover {
  .season-header-container {
    top: 5%;
    transition: 500ms;
    border-bottom: solid 1px;
    color: #878787;
  }

  .animated-container {
    opacity: 1;
    transition: 600ms;
  }
}

.main-container {
  margin-left: 5%;
  width: 90%;
}

.animated-container {
  opacity: 0;
  position: absolute;
  top: 50%;
  transition: 500ms;
  width: 100%;
}

.btn:not(.btn-refresh) {
  width: 40%;
  margin-left: 6%;
  font-size: .8vw;
}

.btn-refresh {
  margin-left: 1%;
}

.season-header-container {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  transition: 500ms;

  span {
    font-size: 2rem;
  }
}

.btn {
  color: $btn-color;
  border: solid 1px $btn-color;
}
