.greeting-text {
  font-size: 1.7vw;
}

.header-container {
  text-align: center;
  color: white;
  filter: brightness(150%);
  height: 5vh;
}

.static {
  background-color: rgba(135, 135, 135, .2);
}

.back-arrow-container {
  float: left;
  height: 5vh;
  width: 7%;
  background-color: rgba(135, 135, 135, .2);
  font-size: .7vw;
  padding: 1vh 0;

}

.back-arrow-container:hover {
  background-color: rgba(135, 135, 135, .4);
  cursor: pointer;
}
