<!--Below div appear if you are in './' route-->
<div
  class="header-container"
  *ngIf="showGreeting()"
  [@greetingAnimation]="isGreetingInProgressFinished"
  (@greetingAnimation.done)="animationFinish($event)">
  <span class="greeting-text">{{headerMessage}}</span>
  <hr *ngIf="isGreetingInProgressFinished === 'true'">
</div>

<!--Below div appear if you are in any page except './' route-->
<div class="header-container static" *ngIf="!showGreeting()">
  <div class="back-arrow-container"
       *ngIf="showBackButton()"
       id="btn_back_to_main"
       routerLink="./home">
    <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
    Back to main
  </div>
  <div>
    <span class="greeting-text">{{headerMessage}}</span>
  </div>
</div>
