<div>
  <div class="result-container">
    <div class="text-center" *ngIf="races.isLoading">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only"></span>
      </div>
      <div class="mt-3">
        <span>Loading...</span>
      </div>
    </div>
    <div *ngIf="races.hasError">
      <div class="mt-3 alert alert-danger text-center">
        <span>{{races.errorMessage}}</span>
<!--        Here I am calling ngOnInit because I do want to check season year again-->
        <button class="btn" (click)="ngOnInit()">
          Try again
          <fa-icon [icon]="['fas', 'sync']"></fa-icon>
        </button>
      </div>
    </div>
    <div *ngIf="!races.isLoading && !races.hasError">
      <div class="description-container">
        <span>Winners in all seasons of {{season}}</span>
      </div>
      <div>
        <table class="table table-hover">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Race name</th>
            <th scope="col">Driver</th>
            <th scope="col">Car</th>
            <th scope="col">Date of race</th>
            <th>Circuit</th>
          </tr>
          <tbody>
          <tr *ngFor="let race of races.data;let index = index"
              [ngClass]="race.Results[0].Driver.isSessionWinner ? 'table-success' : ''">
            <td>{{index + 1}}</td>
            <td>
              {{race.raceName}}
              <a [href]="race.url" target="_blank">
                <fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon>
              </a>
            </td>
            <td>
              {{race.Results[0].Driver.givenName + ' ' + race.Results[0].Driver.familyName}}
              <a [href]="race.Results[0].Driver.url"
                 target="_blank">
                <fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon>
              </a>
            </td>
            <td>
              {{race.Results[0].Constructor.name}}
              <a [href]="race.Results[0].Constructor.url"
                 target="_blank">
                <fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon>
              </a>
            </td>
            <td>{{race.date + ' ' + race.time | date:'short'}}</td>
            <td>
              {{race.Circuit.Location.country + ' - ' + race.Circuit.Location.locality}}
              <a [href]="race.Circuit.url" target="_blank">
                <fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
