.result-container {
  background-color: rgba(255, 255, 255, .8);
  margin-left: 10%;
  width: 80%;
  margin-top:2vh;
  min-height: 25vh;
}

.description-container {
  border-bottom: 1px solid gray;
  text-align: center;
  color: gray;
  span {
    font-size: 2vw;
  }
}

tr:hover {
  background-color: rgba(255, 255, 255, .3);
}

.spinner-border {
  text-align: center;
  margin-top: 7vh;
  width: 5rem;
  height: 5rem;
}
